// Quasar SCSS (& Sass) Variables
// --------------------------------------------------
// To customize the look and feel of this app, you can override
// the Sass/SCSS variables found in Quasar's source Sass/SCSS files.

// Check documentation for full list of Quasar variables

// Your own variables (that are declared here) and Quasar's own
// ones will be available out of the box in your .vue/.scss/.sass files

// It's highly recommended to change the default colors
// to match your app's branding.
// Tip: Use the "Theme Builder" on Quasar's documentation website.

@import url("https://fonts.googleapis.com/css2?family=Fredoka+One&display=swap");

$primary: #f0e150;
$error: #ea5f40;
$errorBase: #cc0606;
$errorText: #bd0303;
$success: #cee741;
$successBase: #8fd14f;
$successText: #098c29;
$warning: #f0e150;
$warningBase: #fac710;
$warningText: #bb9a30;
$info: #4de8ee;
$infoBase: #12cdd4;
$infoText: #07578c;
$text: #464545;
$textBase: #7d7d7d;

h1 {
  font-family: "Fredoka One", cursive;
}

.input {
  font-weight: bold;
  font-size: 0.8rem;
  color: $text;
}

th {
  font-family: "Fredoka One", cursive;
  color: $textBase !important;
}
